

.menu {
    margin: 0 5px;
    background-color: #f8f8f8;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .menu li {
    float: left;
  }
  
  .menu li a {
    display: block;
    color: #777;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color:transparent;
  }
  
  .menu li a:hover:not(.active) {
    color: #555;
    background-color: #e7e7e7;
  }
  
  .menu .active {
    font-weight: 500;
    color: #555;
    background-color: #e7e7e7;
  }

  @media screen and (max-width: 600px) {
    .menu li {
      float: none;
      width: 100%;
    }
  }